
<div class="h-full bg-cust-yellow ">
    <div class=" mx-12 py-8">
        <h1 class="font-hero text-6xl ">
            <span class="text-cust-blu">OBOZY</span>
            <span class="text-cust-white">NEKO</span>
        </h1>
        <p class="text-lg font-inter-bold my-3">
            Nasze Wyjazdy:
        </p>
        <div class="relative">
            <div class="mx-auto flex flex-col shadow-lg">
                <div style="background-image: url('/images/camp1.png')" class="campCard">
                    <div class="flex justify-between text-white relative z-10">
                        <div class="pl-4 py-3">
                            <p class="font-inter-bold">Muszyna</p>
                            <p class="font-inter-regular text-sm">29.01-05.02</p>
                        </div>
                        <div class="flex my-auto  items-center mr-4">
                            <p>Informacje i Zapisy</p>
                            <img  class="w-auto h-3 ml-2" src="/images/info_icon.png" alt="">
                        </div>
                    </div>

                </div>
                <div style="background-image: url('/images/camp2.png')" class="campCard">
                    <div class="flex justify-between text-white relative z-10">
                        <div class="pl-4 py-3">
                            <p class="font-inter-bold">Obóz Lato</p>
                            <p class="font-inter-regular text-sm">29.01-05.02</p>
                        </div>
                        <div class="flex my-auto  items-center mr-4">
                            <p>Informacje i Zapisy</p>
                            <img  class="w-auto h-3 ml-2" src="/images/info_icon.png" alt="">
                        </div>
                    </div>
                </div>
                <div style="background-image: url('/images/camp3.png')" class="campCard">
                    <div class="flex justify-between text-white relative z-10">
                        <div class="pl-4 py-3">
                            <p class="font-inter-bold">Półkolonie WAKE SUN & FUN</p>
                            <p class="font-inter-regular text-sm">29.01-05.02</p>
                        </div>
                        <div class="flex my-auto  items-center mr-4">
                            <p>Informacje i Zapisy</p>
                            <img  class="w-auto h-3 ml-2" src="/images/info_icon.png" alt="">
                        </div>
                    </div>
                </div>
                <div style="background-image: url('/images/camp4.png')" class="campCard">
                    <div class="flex justify-between text-white relative z-10">
                        <div class="pl-4 py-3">
                            <p class="font-inter-bold">Półkolonie WAKE SUN & FUN</p>
                            <p class="font-inter-regular text-sm">29.01-05.02</p>
                        </div>
                        <div class="flex my-auto  items-center mr-4">
                            <p>Informacje i Zapisy</p>
                            <img  class="w-auto h-3 ml-2" src="/images/info_icon.png" alt="">
                        </div>
                    </div>
                </div>
                <div style="background-image: url('/images/camp5.png')" class="campCard">
                    <div class="flex justify-between text-white relative z-10">
                        <div class="pl-4 py-3">
                            <p class="font-inter-bold">Obóz Freestyle Summer</p>
                            <p class="font-inter-regular text-sm">29.01-05.02</p>
                        </div>
                        <div class="flex my-auto  items-center mr-4">
                            <p>Informacje i Zapisy</p>
                            <img  class="w-auto h-3 ml-2" src="/images/info_icon.png" alt="">
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="absolute inset-0 bg-neutral-200 mix-blend-multiply z-0"></div>
        </div>
        <div class="flex flex-col items-center mt-4 font-inter-regular">
            <div><button class="bg-cust-red rounded text-white px-3 py-2 shadow-xl ">O Naszych Obozach</button></div>
            <a href="#" class="flex pt-2">Zobacz wspomnienia z poprzednich obozów
                <img class="my-auto ml-2 h-3 w-auto" src="images/arr_icon.png" alt="" />
            </a>
        </div>
    </div>
    <div class="">
        <img class="w-full" src="images/camp_side.png" alt="">
    </div>
</div>