<div class="mx-auto my-20 md:my-32 text-center ">
    <div class=" font-inter-extraBold md:text-6xl">Skontaktuj się z nami</div>
    <div class="font-inter-regular text-lg md:mt-12">Postaramy się jak najszybciej odpisać i odpowiedzieć na nurtujące
        Cię
        pytania</div>

    <form class="mx-auto" name="contact">
        <div class="space-x-16 flex justify-center my-5">
            <input type="text" class="" name='Imię' placeholder="Twoje Imię" required>
            <input type="email" class="" name="email" placeholder="Twój email" required>
        </div>
        <div class="flex flex-col mx-96">
            <textarea name="Wiadomość" cols="60" rows="10" placeholder="Twoja Wiadomość"></textarea>

            <button class="bg-cust-yellow mt-10 rounded py-2 shadow" type="submit">Wyślij Wiadomość</button>
        </div>
    </form>

</div>