<div class="relative h-full bg-cust-yellow">
    <main class="wrapper md:relative">
        <div class="mx-auto w-full max-w-full pt-10 pb-20 ">
            <div class="md:w-1/2 xl:pr-16">
                <div class="text-left ">
                    <h1 class="font-hero text-5xl tracking-tight text-gray-900 md:text-6xl lg:text-7xl">
                        <span class="text-cust-blu">OBOZY</span>
                        <span class="text-cust-white">NEKO</span>
                    </h1>
                    <p class="my-3 max-w-md font-inter-bold text-lg text-cust-black sm:text-2xl md:mt-5 md:max-w-3xl">
                        Nasze Wyjazdy:
                    </p>
                </div>

                <div class="mx-auto flex h-72 w-[80%] flex-col sm:h-64 md:h-96 md:w-full">
                    <div style="background-image: url('/images/camp1.png')" class="campCard">
                        sadhsahd
                    </div>
                    <div style="background-image: url('/images/camp2.png')" class="campCard">
                        sadhsahd
                    </div>
                    <div style="background-image: url('/images/camp3.png')" class="campCard">
                        100%
                    </div>
                    <div style="background-image: url('/images/camp4.png')" class="campCard">
                        sadhsahd
                    </div>
                    <div style="background-image: url('/images/camp5.png')" class="campCard">
                        sadhsahd
                    </div>
                </div>

                <div class="mt-5 items-center sm:flex sm:justify-center lg:justify-between">
                    <div class="rounded-md shadow">
                        <a href="#"
                            class="flex w-full items-center justify-center rounded-md border border-transparent bg-cust-red px-8 py-3 text-base font-medium text-white hover:bg-cust-red/80 md:py-2 md:px-3 md:text-lg">O
                            naszych obozach</a>
                    </div>
                    <div class="mt-3 sm:mt-0 sm:ml-3">
                        <a href="#" class="flex">Zobacz wspomnienia z poprzednich obozów
                            <img class="my-auto ml-2 h-2 w-auto" src="images/arr_icon.png" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="relative h-64 w-full md:w-[35%] md:absolute md:inset-y-0 md:right-0 md:h-full">
        <img class="absolute inset-0 h-full w-full object-cover" src="images/camp_side.png" alt="" />
    </div>
</div>