<header class="">
    <div class="flex justify-between mx-auto px-10">
        <div class="">
            <img src="./images/Logo.png" alt="">
        </div>
        <div class="my-auto gap-x-6">
            <a href="#news">Aktualności</a>
            <a href="">Zajęcia</a>
            <a href="#camps">Obozy</a>
            <a href="">Strefa Rodzica</a>
            <a href="#about">O nas</a>
        </div>
        <div class="my-auto">
            <button class="">Zapisz się</button>
        </div>
    </div>
</header>