<div class="w-full  md:h-80 flex bg-red-300 relative">

    <div class="relative w-full ">
        <img class="overflow-hidden absolute inset-0 object-cover w-full h-full" src="images/news1.png" alt="">
        <p class="font-inter-bold text-cust-white">Informacje Obozowe MUSZYNA 2022</p>
    </div>
    <div class="relative w-full">
        <img class="overflow-hidden absolute inset-0 object-cover w-full h-full" src="images/news2.png" alt="">
    </div>
    <div class="relative w-full">
        <img class="overflow-hidden absolute inset-0 object-cover w-full h-full" src="images/news3.png" alt="">
    </div>
    <div class="relative w-full">
        <img class="overflow-hidden absolute inset-0 object-cover w-full h-full" src="images/news4.png" alt="">
    </div>

</div>